:root{
  --blue:#28ACE8;
  --white: #ffff;
  --grey: rgb(211,211,211);
}
nav{
  width: 100%;
  height: 60px;
}
ul{
  width: 100%;
  height: 100%;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  padding: 18px;
}

li a:is(:link,:active,:visited){
  color: black;
  text-decoration: none;
  padding: .5rem 1.2rem;
}
a:is(:link,:active,:visited).active{
  color: white;
  background-color: var(--blue);
  border-radius: 10px;
}
.main-header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey);
} 

.tbl-container{
  max-width: fit-content;
  max-height: fit-content;
}
.table-container,.tbl-fixed{
  overflow-y: scroll;
  height: fit-content;
  max-height: 75vh;
}


.tbl-container1{
max-width: fit-content;
max-height: fit-content;
}
.tbl-fixed1{
overflow-x: scroll;
overflow-y: scroll;
height: fit-content;
max-height: 80vh;
}
table{
min-width: max-content;
border-collapse: separate;
}
th, td {
padding: 8px;
text-align: left;
}
th {
background-color: #f2f2f2;
}
tr:nth-child(even) {
background-color: #f2f2f2;
}
table th{
  position: sticky;
  top: 0;
  background-color: var(--blue);
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
}
table tr td{
  border: 1px solid var(--grey);
  text-align: center;
}
tr:nth-child(even){
  background-color: rgba(211, 211, 211, 0.521);
}

/* Paginatin button */

.buttons{
  margin-top:100;
  display:flex;
  justify-content:center;
  gap: 5px;;
}
.buttons button{
  border:none;
  padding:0.4rem 1.2rem;
  background-color:var(--blue);
  color:black;
  border-radius:5px;
  cursor:pointer
}

#page-number{
  border:none;
  text-align:center;
  width:3rem;
  border-radius:5px;
  border: 1px solid var(--grey);
}
#page-number:focus{
  outline:none;
}

.list-container{
  display:flex;
  justify-content:center;
}
.list-container{
  height:700px;
}
.list-container ul {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(5,1fr);
  gap:1rem;
}
.list-container ul li {
  width:100px;
  height:60px;
  margin:20px 0;
  list-style:none;
  padding:0.5rem 1rem;
  background-color:slateblue;
  color:white;
  border-radius:5px;
}

.buttons{
  height: 40px;
}
.buttons .page-of{
  line-height: 40px;
}